body{
    background-color: rgb(212, 25, 25);
}

table, th, td {
    border: 1px solid;
}

.img_div { 
    float: left; 
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    padding: 3px;
  }

.img_div img {
    margin : auto;
  }