<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <title>faq</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav>
            <button class="button-10"><a href="/main">Main</a></button>
            <button class="button-10"><a href="faq.html">Faq</a></button>
            <button class="button-10"><a href="/dashboard">Profile</a></button>
        </nav>

        
        <h2>FAQ</h2>
        <ol>
            <li>
                <h4>What is SkinDB?</h4>
                <ul>
                    <li>
                        SkinDB is a way to find users with the skins you want, without having to search through discord servers or steam profiles.
                        It streamlines the experience, making it easier for both ends of a trade.
                    </li>
                    <li>
                        Find users with skins you want using the search bar.
                    </li>
                    <li>
                        Login to add your skins to the database.
                    </li>
                    <li>
                        Once you've found the skin you're looking for, simply click on the user's profile, and send them an offer!
                    </li>
                </ul>
            </li>
            <li>
                <h4>
                    Why use SkinDB?
                </h4>
                <ul>
                    <li>
                        SkinDB is an easy way to avoid scammers and find skins easier by limiting the number of variables in a trade.
                    </li>
                    <li>
                        We make it easy to find the people with the skins you want, and we let you send the offers to ensure maximum safety.
                    </li>
                </ul>
            </li>
            <li>
                <h4>Is SkinDB a scam? Will it hack my account?</h4>
                <ul>
                    <li>
                       <a href="https://steamcommunity.com/discussions/forum/1/620695877261662843"><strong>No.</strong></a> 
                    </li>
                    <li>
                        our Steam login is safe, we only recieve your <strong>public</strong> Steam identifier.
                    </li>
                    <li>
                        No private/sensitive information is given to us, and we do not store any information that could be used to gain access to a users account.
                    </li>
                </ul>
            </li>
        </ol>
    </body>
</html>